body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p{
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

img {
    display: block;
}

/*----------------HEADER-------------------*/

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {   
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
    display: flex;
    gap: 76px;
    align-items: center;
    padding: 24px 0;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;  
}

.accent {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0; 
     
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.header-menu-link:hover, .header-menu-link:focus{
    color: #404bbf;
}

.header-adress {
    font-style: normal;
  
}

.header-adress-menu {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}


.header-adress-item {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 0 auto;  
}

.header-adress-item:last-child{
    margin-right: 0;
}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-adress-link:hover, 
.header-adress-link:focus{
    color: #404bbf;
}

/*----------------HEADER---------------------*/


/*---------------BUSINESS------------------------*/

.business {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.business-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 48px;
}

.bussines-button{
    display: flex;
}

.business-btn {
     background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    margin-bottom: 188px;
    text-align: center;
}

.business-btn:hover, .business-btn:focus{
    background-color: #404BBF;
}
 /*----------------BUSINESS----------*/


 /*----------------INFORMATION-------*/   

  .information {
    padding: 120px 0;
  }

  .information-menu-list {
    padding-top: 120px;
    margin-bottom: 60px;
    display: flex;
    gap: 24px;
  }

  .information-menu-item {
    flex-basis: calc((100%-72px)/4);
  }

  .information-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
  }

  .information-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*----------------INFORMATION-------*/


/*--------------TEAM---------------*/
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-top: 60px;
    padding-top: 120px;
    padding-bottom: 72px;
}

.team-menu-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100%-72px)/4);
}

.team-menu-item {
   
   background-color: #ffffff;
    margin-bottom: 120px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*--------------TEAM---------------*/
/*--------------PORTFOLIO---------------*/

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;          
    text-align: center;
    color: #2e2f42;
    margin-top: 60px;
    padding-top: 120px;
    padding-bottom: 72px;
    margin-bottom: 60px;
}

.portfolio-menu-list {
    display: flex;
    gap: 24px;
    flex-basis: calc(100%-120px)/6;
    flex-wrap: wrap;
}

.portfolio-menu-item {
    background-color: #ffffff;
}

.portfolio-image {
}

.portfolio-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*--------------PORTFOLIO---------------*/

/*--------------FOOTER---------------*/

.footer {
    background: #2e2f42;  
    margin-top: 60px;
    padding-top: 100px;
    padding: 100px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent-two {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
/* replay*/

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-bottom: 100px;
    max-width: 264px;
}


/*--------------FOOTER---------------*/